/* line 10, ../../scss/modules/global.scss */
html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* line 16, ../../scss/modules/global.scss */
body {
  bottom: 0;
  font-family: "Futura", sans-serif;
  margin: 70px 5%;
  padding: 0;
  position: absolute;
  top: 0;
  width: 90%;
  overflow: hidden;
}

/* line 29, ../../scss/modules/global.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 37, ../../scss/modules/global.scss */
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #b2dfee;
}
